* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}

body {
    min-height: 100vh;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;

    background-image: url("image/wanita-belajar.jpg"); 
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.login-card,
.signup-card {
    width: 360px;
    background: rgba(255, 255, 255, 0.778);
    padding: 30px;
    border-radius: 10px;
    box-shadow: 0 8px 20px rgba(0,0,0,0.2);
}

/* judul */
.login-header,
.signup-header {
    text-align: center;
    margin-bottom: 40px;
}

.login-header h2,
.signup-header h2 {
    margin-bottom: 5px;
}

.login-header p,
.signup-header p {
    font-size: 13px;
    color: gray;
    margin-top: 8px;
}

/* kanggo ngatur email pass */
.form-group {
    margin-bottom: 12px;
}

input:focus {
    border: 1px solid #3b75cb;
    outline: none;
}

/* tombol kotak cilik   remember */
.form-option {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 12px;
    margin-bottom: 25px;
}

.remember-wrapper {
    display: flex;
    align-items: center;
    gap: 5px;
}

.remember-wrapper input {
    margin: 0;
}

/* tombol biru kanggo masuk*/
.btn {
    width: 100%;
    padding: 10px;
    border-radius: 6px;
    border: none;
    background: linear-gradient(to right, #4680ff, #3ca2f6, #55a7ff);
    color: white;
    font-weight: bold;
    cursor: pointer;
}

.btn:hover {
    opacity: 0.9;
}

/* kotak 3x seng pilihan login dengan opsi lain */
.social-login {
    display: flex;
    flex-direction: column;
    gap: 12px;  
    margin-top: 10px;
}

.social-btn {
    width: 100%;
    padding: 10px;
    border-radius: 6px;
    border: none;
    background: rgba(255, 255, 255, 0.927); 
    color: #333;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    font-weight: 500;
}
.social-btn span {
    width: 20px;         
    height: 20px;
    display: inline-block;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
}

.google-icon {
    background-image: url("https://cdn.jsdelivr.net/gh/devicons/devicon/icons/google/google-original.svg");
}

.github-icon {
    background-image: url("https://cdn.jsdelivr.net/gh/devicons/devicon/icons/github/github-original.svg");
}

.linkedin-icon {
    background-image: url("https://cdn.jsdelivr.net/gh/devicons/devicon/icons/linkedin/linkedin-original.svg");
}

/* pesan sukses */
.success-message {
    display: none;
    margin-top: 15px;
    text-align: center;
    color: green;
}

.input-wrapper {
    position: relative;
}

.input-wrapper input {
    width: 100%;
    padding: 16px 10px;
    border-radius: 6px;
    border: none;
    background: rgba(255, 255, 255, 0.592); 
    color: rgb(83, 83, 83); 
}

.input-wrapper label {
    z-index: 1;
    position: absolute;
    left: 10px;
    top: 50%;
    transform: translateY(-50%);
    font-size: 14px;
    color: gray;
    pointer-events: none;
    transition: 0.2s ease;
}

/* animasi biar pas diisi email naik tulisane */
.input-wrapper input:focus + label,
.input-wrapper input:not(:placeholder-shown) + label {
    top: 4px;
    transform: none;
    font-size: 11px;
    color: #3b82f6;
}

.password-wrapper {
    position: relative;
}

.password-toggle {
    position: absolute;
    right: 10px;
    top: 50%;
    transform: translateY(-50%);
    background: none;
    border: none;
    cursor: pointer;
}

.divider {
    text-align: center;
    font-size: 12px;  
    color: gray;
    margin: 20px 0;
}

.signup-link {
    text-align: center;
    font-size: 12px;   
    margin-top: 18px;
    color: gray;
}

.signup-link a {
    font-size: 12px;  
    text-decoration: none;
    color: #2563eb;
    font-weight: 500;
}

.signup-link a:hover {
    text-decoration: underline;
}

.social-signup {
    display: flex;
    flex-direction: column;
    gap: 12px;
    margin-top: 10px;
}